@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.flex:hover {
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column:hover {
  cursor: pointer;
}

:root {
  --color: #ff9d42;
}
